{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="product-item" {{ sylius_test_html_attribute('product') }}>
    <div class="thumb">
        {#        <div class="hover-content"> #}
        {#            <ul> #}
        {#                <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li> #}
        {#                <li><a href="single-product.html"><i class="fa fa-star"></i></a></li> #}
        {#                <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> #}
        {#            </ul> #}
        {#        </div> #}
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'class': 'card-img-top'} %}
        </a>
    </div>
    <div class="down-content">
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
            <h4 {{ sylius_test_html_attribute('product-name', product.name) }}>
                {{ product.name }}
            </h4>
        </a>
        <div class="d-flex justify-content-between">
            <span {{ sylius_test_html_attribute('product-price') }}>
                {{ money.calculatePrice(product|sylius_resolve_variant) }}
            </span>
            <ul class="stars">
                {% for i in [0, 1, 2, 3, 4] %}
                    {% if i < product.averageRating %}
                        <li><i class="text-primary fa fa-star"></i></li>
                    {% else %}
                        <li><i class="text-muted fa fa-star"></i></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
